{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block content %}
<div class="container" style="height:100%;">
<script async class="speakerdeck-embed" data-id="0c295752313647fa865f634eecf518c6" data-ratio="1.8" src="//speakerdeck.com/assets/embed.js"></script>
</div>
<div class="container" style="height:100%;">
<!--<iframe width="800" height="600" src="https://www.youtube.com/embed/hS3_TJLYl48" frameborder="0" allowfullscreen></iframe>-->
<iframe width="800" height="600" src="https://www.youtube.com/embed/gTCyknYSA2c" frameborder="0" allowfullscreen></iframe>
</div>
{% endblock %}
